.demo{
    color: rgb(235, 51, 51);
    font-style: italic;
}
.demo1{
    color: rgb(145, 18, 18);
    line-height: 40px;
}
.alt{
    letter-spacing:9px;
    color: rgb(145, 18, 18);
}

a{
    color: red;
    background-color: yellow;
    
}
p{
    color: rgb(145, 18, 18);
}

change{
    color: rgb(145, 18, 18);
}
h1{
    color: red;
}
h2{
    font-style: italic;
    color: tomato;
}
.it{
    text-decoration: line-through;s
}
.bg{
    background-color: yellow ;
}
.con{
    font-style: italic;
    text-decoration: underline;
}